/* TODO: Add responsive styles here... */
@media screen and (max-width: 600px) {
    #home {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #home .container {
        display: inherit;
        justify-content: inherit;
        align-items: inherit;
        flex-direction: inherit;
    }

    #home .container-fluid.hero>img {
        display: none;
    }

    #home .container-fluid.hero .container>h1 {
        margin-top: 50px;
        text-align: center;
    }

    #home .container-fluid.hero .container>p {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #home .container-fluid.hero .container .hero-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 100px;
    }

    #home .container-fluid.hero .container .hero-btns>a {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    /* About us */

    #about-us {
        margin-bottom: 50px;
    }

    #about-us .container-fluid .side2-img img{
        top: 1450px;
    }

    #about-us .container-fluid .container .col-12 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    #about-us .container-fluid .container .col-12 .hero-btns {
        display: flex;
        justify-content: center;
        margin-bottom: 100px;
    }

    #about-us .container-fluid .container .col-12 .hero-btns>a {
        width: 60%;
        display: flex;
        justify-content: center;
    }

    #about-us .container-fluid .row {
        display: flex;
        flex-direction: column;
    }

    #about-us .container-fluid .row .col-12.col-sm-6.col-lg-4 {
        width: 100%;
        max-width: unset;
    }

    /* Our Company */
    .about {
        margin-bottom: 50px;
    }

    .about .container .row .col-12 {
        margin-bottom: 65px;
    }

    .about .container .row .col-12 h5 {
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }

    .about .container .row .col-12 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #contact-us {
        display: flex;
        justify-content: center;
        text-align: center;
    }

    #contact-us .hero-btns {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    footer .col-12>h3{
        width: 70%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 35px;
    }

    footer .contact-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}