@import url(reset.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css);

:root {
    --clr-primary: #e24e2a;
    --clr-grey: #ececec;
    --clr-grey-dark: #3f3f3f;
    --clr-grey-bg: #5d5954;
    --clr-green: #1b9772;
    --clr-green-text: #3aa483;
    --clr-green-link: #8ec2aa;
    --clr-white: #fff;

    --header-height: 66px;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--clr-grey-dark);
}

/* Navigation */

.header {
    position: sticky;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header .logo .main {
    font-weight: bold;
    font-size: 48px;
    line-height: 1;
}

.header .logo .divider {
    width: 1px;
    height: 50px;
    background-color: var(--clr-grey-dark);
    display: inline-block;
}

.header .logo .sub {
    font-size: 21px;
}

.header .nav {
    display: flex;
    gap: 2px;
}

.header .nav .nav-item{
    padding: 1rem 2rem;
    background-color: var(--clr-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav .nav-item.active{
    background-color: var(--clr-primary);
    color: var(--clr-white)
}

.header .nav .nav-item .nav-link {
    text-decoration: none;
    color: inherit;
    letter-spacing: 1.1px;
    line-height: 1;
}

/* Hero */

#hero {
    height: calc(100vh - var(--header-height));
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#hero .img-container {
    /* height: 70%; */
    overflow: hidden;
}

#hero .img-container .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero .content{
    padding: 4rem;
    background-color: var(--clr-primary);
}

#hero .content .text {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-white);
    line-height: 1.5;
    font-size: 18px;
}

/* Sections */

.section--full{
    padding: 6rem 4rem;
}

.section-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.section-grid .section-grid-item{
    text-align: center;
}

/* Features */

#features{
    background-color: #383838;
    color: var(--clr-white);
}

#features .section-grid-item .icon-container{
    padding: 1rem;
    background-color: var(--clr-primary);
    width: 8rem;
    font-size: 4rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}

#features .section-grid-item .title{
    margin-bottom: 1.5rem;
}

#features .section-grid-item .divider {
    height: 1px;
    background-color: #6c6c63;
    margin-bottom: 1.5rem;
}

#features .section-grid-item .desc {
    color: #6c6c63;
    width: 90%;
    font-size: 1.2rem;
    margin: 0 auto;
}

/* Subscribe */

#subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-white);
}

#subscribe .title{
    font-size: 2.8rem;
    font-weight: 500;
}

#subscribe .desc{ 
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1.5rem;
    color: #a2a2a2;
}

#subscribe .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 4rem;
    background-color: #1b9772;
    color: var(--clr-white);
    border: none;
    letter-spacing: 5px;
    font-size: 1.2rem;
}

/* Advantages */

#advantages {
    background-color: #383838;
    color: var(--clr-white);
}

#advantages .section-grid-item .desc {
    color: #6c6c63;
    width: 90%;
    font-size: 1.2rem;
    margin: 0 auto;
}

#advantages .section-grid-item .title{
    font-size: 1.8rem;
    margin-bottom: 3rem;
    font-weight: 300;
}

/* Footer */

#footer {
    background-color: #1b9772;
    color: #5bb495;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer .desc {
    font-size: 18px;
    letter-spacing: 2.5px;
}

#footer .desc .divider {
    width: 1px;
    height: 2rem;
    background-color: #5bb495;
    display: inline-block;
    margin: 0 16px;
    padding-top: 20px;
}

#footer .highlight {
    color: #a2d4c1;
}