@import url(reset.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css);

:root {
    --clr-primary: #e24e2a;
    --clr-grey: #ececec;
    --clr-grey-dark: #3f3f3f;
    --clr-grey-bg: #5d5954;
    --clr-green: #1b9772;
    --clr-green-text: #3aa483;
    --clr-green-link: #8ec2aa;
    --clr-white: #fff;

    --header-height: 66px;
}

body {
    font-family: Helvetica, sans-serif;
    color: var(--clr-grey-dark);
}

/* Navigation */

.header {
    position: sticky;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.header .logo .main {
    font-weight: bold;
    font-size: 48px;
    line-height: 1;
}

.header .logo .divider {
    width: 1px;
    height: 50px;
    background-color: var(--clr-grey-dark);
    display: inline-block;
}

.header .logo .sub {
    font-size: 21px;
}

.header .nav {
    display: flex;
    gap: 2px;
}

.header .nav .nav-item{
    padding: 1rem 2rem;
    background-color: var(--clr-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .nav .nav-item.active{
    background-color: var(--clr-primary);
    color: var(--clr-white)
}

.header .nav .nav-item .nav-link {
    text-decoration: none;
    color: inherit;
    letter-spacing: 1.1px;
    line-height: 1;
}

/* Hero */

#hero {
    height: calc(100vh - var(--header-height));
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#hero .img-container {
    height: 70%;
    overflow: hidden;
}

#hero .img-container .hero-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#hero .content{
    padding: 4rem;
    background-color: var(--clr-primary);
}

#hero .content .text {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    color: var(--clr-white);
    line-height: 1.5;
    font-size: 18px;
}

/* Features */

#features{
    display: flex;
    align-items: center;
    justify-content: center;   
}

#features .section-grid{
    display: grid;
    grid-template-columns: 7rem 7rem 7rem 7rem;
    grid-row-gap: 1px;
    grid-column-gap: 16rem;
}